How many students are there?

In [94]:
len(students)

14

How many students prefer light coffee?

In [4]:
len([student for student in students if student['coffee_preference'] == 'light'])

3

For each type of coffee roast?

In [95]:
len([student for student in students if student['coffee_preference'] == 'medium'])

6

In [7]:
len([student for student in students if student['coffee_preference'] == 'dark'])

5

How many of each species of pet are there?

In [27]:
# This approach didn't answer the question, but it gave me an idea of how it works
sum([len([pets['species'] for pets in student['pets'] if pets['species'] == 'cat']) for student in students])

11

In [28]:
sum([len([pets['species'] for pets in student['pets'] if pets['species'] == 'horse']) for student in students])

4

In [29]:
sum([len([pets['species'] for pets in student['pets'] if pets['species'] == 'dog']) for student in students])

3

How many types of pet are there?

In [38]:
set(sum([[pet['species'] for pet in student['pets']] for student in students], []))

{'cat', 'dog', 'horse'}

How many grades does each student have? Do they all have the same number of grades?

In [9]:
[len(student['grades']) for student in students]

[4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4]

What is each student's grade average?

In [39]:
# first i wanted to see the grades for each student
[student['grades'] for student in students]

[[70, 91, 82, 71],
 [75, 73, 86, 100],
 [70, 89, 69, 65],
 [73, 66, 83, 92],
 [78, 98, 85, 65],
 [76, 70, 96, 81],
 [69, 94, 89, 86],
 [87, 79, 90, 99],
 [74, 99, 93, 89],
 [82, 92, 91, 65],
 [70, 92, 65, 99],
 [100, 86, 91, 87],
 [80, 70, 68, 98],
 [73, 99, 86, 98]]

In [40]:
# then I added them together 
[sum(student['grades']) for student in students]

[314, 334, 293, 314, 326, 323, 338, 355, 355, 330, 326, 364, 316, 356]

In [42]:
# then I divided the sum of grades by the number of grades

[(sum(student['grades'])) / (len(student['grades'])) for student in students]

[78.5,
 83.5,
 73.25,
 78.5,
 81.5,
 80.75,
 84.5,
 88.75,
 88.75,
 82.5,
 81.5,
 91.0,
 79.0,
 89.0]

How many pets does each student have?

In [45]:
[len([pet for pet in student['pets']]) for student in students]

[1, 0, 1, 2, 3, 0, 1, 2, 2, 1, 2, 1, 1, 1]

How many students are in web development? data science?

In [52]:
num_students_web_dev = len([student for student in students if student['course'] == 'web development'])

num_students_web_dev

7

What is the average number of pets for students in web development?

In [58]:
# first i found how many pets each student has
[len(student['pets']) for student in students 
 if student['course'] == 'web development']

[1, 1, 3, 1, 1, 1, 1]

In [57]:
# then I divided that by the number of students in web dev

[len(student['pets']) / (num_students_web_dev) for student in students if student['course'] == 'web development']

[0.14285714285714285,
 0.14285714285714285,
 0.42857142857142855,
 0.14285714285714285,
 0.14285714285714285,
 0.14285714285714285,
 0.14285714285714285]

What is the average pet age for students in data science?

In [61]:
# first i want the age of each pet
[[pet['age'] for pet in student['pets']] for student in students if student['course'] == 'data science']

[[], [4, 4], [], [10, 8], [0, 0], [8, 5], [10]]

In [72]:
# now add them all together: first flatten the list
sum([[pet['age'] for pet in student['pets']] for student in students if student['course'] == 'data science'], [])

[4, 4, 10, 8, 0, 0, 8, 5, 10]

In [74]:
# now sum the list
summed_DS_pet_ages = \
sum(sum([[pet['age'] for pet in student['pets']] for student in students if student['course'] == 'data science'], []))
summed_DS_pet_ages

49

In [75]:
# now find how many pets in total
num_of_pets_in_datascience = \
len([[pet['age'] for pet in student['pets']] for student in students if student['course'] == 'data science'])

num_of_pets_in_datascience

7

In [76]:
# Now divide the summed ages by the number of pets
# this is the final answer
summed_DS_pet_ages / num_of_pets_in_datascience

7.0

What is most frequent coffee preference for data science students?

In [84]:
# first i want to see all coffee preferences for DS students

ds_coffee = [student['coffee_preference'] for student in students if student['course'] == 'data science']
ds_coffee

['medium', 'dark', 'dark', 'medium', 'medium', 'dark', 'medium']

In [93]:
max(set(list(zip([ds_coffee.count(w) for w in ds_coffee], ds_coffee))))

(4, 'medium')

What is the least frequent coffee preference for web development students?

In [96]:
min(set(list(zip([ds_coffee.count(w) for w in ds_coffee], ds_coffee))))

(3, 'dark')

What is the average grade for students with at least 2 pets?

In [102]:
# I copied the average grade from the earlier question
# Then I restricted that to those students with more than 2 pets
[(sum(student['grades'])) / (len(student['grades'])) 
 for student in students if len(student['pets']) > 2]

[81.5]

How many students have 3 pets?

In [106]:
len([student for student in students if len(student['pets']) == 3])

1

What is the average grade for students with 0 pets?

In [110]:
no_pets_list = [(sum(student['grades'])) / (len(student['grades'])) 
 for student in students if len(student['pets']) == 0]

no_pets_list

[83.5, 80.75]

In [112]:
sum(no_pets_list) / len(no_pets_list)

82.125

What is the average grade for web development students? data science students?

In [115]:
web_dev_grades = [(sum(student['grades'])) / (len(student['grades'])) 
 for student in students if student['course'] == 'web development']

web_dev_grades

[78.5, 73.25, 81.5, 84.5, 82.5, 79.0, 89.0]

In [116]:
sum(web_dev_grades) / len(web_dev_grades)

81.17857142857143

In [117]:
data_science_grades = [(sum(student['grades'])) / (len(student['grades'])) 
 for student in students if student['course'] == 'data science']

data_science_grades

[83.5, 78.5, 80.75, 88.75, 88.75, 81.5, 91.0]

In [118]:
sum(data_science_grades) / len(data_science_grades)

84.67857142857143

What is the average grade range (i.e. highest grade - lowest grade) for dark coffee drinkers?

In [122]:
[student['grades'] for student in students 
 if student['coffee_preference'] == 'dark']

[[73, 66, 83, 92],
 [78, 98, 85, 65],
 [76, 70, 96, 81],
 [69, 94, 89, 86],
 [70, 92, 65, 99]]

In [127]:
dark_coffee_grade_range = [max(student['grades']) - min(student['grades']) for student in students 
 if student['coffee_preference'] == 'dark']

dark_coffee_grade_range

[26, 33, 26, 25, 34]

In [128]:
sum(dark_coffee_grade_range) / len(dark_coffee_grade_range)

28.8

What is the average number of pets for medium coffee drinkers?

In [130]:
medium_coffee_avg_pets = [len(student['pets']) for student in students 
                          if student['coffee_preference'] == 'medium']

medium_coffee_avg_pets

[0, 2, 2, 1, 1, 1]

In [131]:
sum(medium_coffee_avg_pets) / len(medium_coffee_avg_pets)

1.1666666666666667

What is the most common type of pet for web development students?

In [153]:
web_dev_pet_species = [[pet['species'] for pet in student['pets']] 
                       for student in students 
                       if student['course'] == 'web development']

# Flatten the list
web_dev_pet_species = sum(web_dev_pet_species, [])

In [155]:
max(list(zip([web_dev_pet_species.count(x) for x in web_dev_pet_species], 
    web_dev_pet_species)))

(4, 'horse')

What is the average name length?

In [159]:
sum([len(student['student']) for student in students]) / len([len(student['student']) for student in students])

13.642857142857142

What is the highest pet age for light coffee drinkers?

In [2]:
students = [
    {
        "id": "100001",
        "student": "Ada Lovelace",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 91, 82, 71],
        "pets": [{"species": "horse", "age": 8}],
    },
    {
        "id": "100002",
        "student": "Thomas Bayes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [75, 73, 86, 100],
        "pets": [],
    },
    {
        "id": "100003",
        "student": "Marie Curie",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [70, 89, 69, 65],
        "pets": [{"species": "cat", "age": 0}],
    },
    {
        "id": "100004",
        "student": "Grace Hopper",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [73, 66, 83, 92],
        "pets": [{"species": "dog", "age": 4}, {"species": "cat", "age": 4}],
    },
    {
        "id": "100005",
        "student": "Alan Turing",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [78, 98, 85, 65],
        "pets": [
            {"species": "horse", "age": 6},
            {"species": "horse", "age": 7},
            {"species": "dog", "age": 5},
        ],
    },
    {
        "id": "100006",
        "student": "Rosalind Franklin",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [76, 70, 96, 81],
        "pets": [],
    },
    {
        "id": "100007",
        "student": "Elizabeth Blackwell",
        "coffee_preference": "dark",
        "course": "web development",
        "grades": [69, 94, 89, 86],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100008",
        "student": "Rene Descartes",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [87, 79, 90, 99],
        "pets": [{"species": "cat", "age": 10}, {"species": "cat", "age": 8}],
    },
    {
        "id": "100009",
        "student": "Ahmed Zewail",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [74, 99, 93, 89],
        "pets": [{"species": "cat", "age": 0}, {"species": "cat", "age": 0}],
    },
    {
        "id": "100010",
        "student": "Chien-Shiung Wu",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [82, 92, 91, 65],
        "pets": [{"species": "cat", "age": 8}],
    },
    {
        "id": "100011",
        "student": "William Sanford Nye",
        "coffee_preference": "dark",
        "course": "data science",
        "grades": [70, 92, 65, 99],
        "pets": [{"species": "cat", "age": 8}, {"species": "cat", "age": 5}],
    },
    {
        "id": "100012",
        "student": "Carl Sagan",
        "coffee_preference": "medium",
        "course": "data science",
        "grades": [100, 86, 91, 87],
        "pets": [{"species": "cat", "age": 10}],
    },
    {
        "id": "100013",
        "student": "Jane Goodall",
        "coffee_preference": "light",
        "course": "web development",
        "grades": [80, 70, 68, 98],
        "pets": [{"species": "horse", "age": 4}],
    },
    {
        "id": "100014",
        "student": "Richard Feynman",
        "coffee_preference": "medium",
        "course": "web development",
        "grades": [73, 99, 86, 98],
        "pets": [{"species": "dog", "age": 6}],
    },
]